html {
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #3B3D64; 
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
}

header a {
    background-color: transparent;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

header a:hover {
    text-decoration: underline;
    color: #ACA698;
}

.name-header {
    display: flex;
    align-items: center;    
    justify-content: center; 
    text-align: center;
    color: #ACA698;
    font-size: 28px;
    font-weight: bold;
    margin-top: 40px;
}

.about-title {
    font-size: 24px;
    text-transform: uppercase;
}

.nepali-name {
    font-size: 32px;
}

.english-name {
    font-size: 20px;
    font-style: italic;
}

.about-me-section {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

.text {
    flex: 1 1 300px;
    max-width: 600px;
    color: #ACA698;
    padding-right: 20px;
}

.text h1 {
    color: #ACA698;
    font-size: 60px;
    margin: 0;
}

.text p {
    padding-top: 20px;
}

.image {
    flex: 1 1 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .home-section {
        flex-direction: column;
        text-align: center;
    }

    .text {
        padding-right: 0;
    }

    .text h1 {
        font-size: 48px;
    }
}
