html {
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #ACA698;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
}

header a {
    background-color: transparent;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

header a:hover {
    text-decoration: underline;
    color: #3B3D64;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

.Pashupati-Hotel {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 2px solid #818E74;
    padding: 20px;
    border-radius: 10px;
    background-color: #818E74;
}

.Coin-Collection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 2px solid #818E74;
    padding: 20px;
    border-radius: 10px;
    background-color: #818E74;
    margin-top: 5px;
}

.text {
    flex: 1 1 300px;
    max-width: 600px;
    color: #3B3D64;
}

h1 {
    color: #3B3D64;
    margin-top: 10px;
    text-align: center;
}

.text p {
    padding-top: 20px;
}

.image {
    flex: 1 1 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .Pashupati-Hotel {
        flex-direction: column;
        text-align: center;
    }

    .text {
        padding-right: 0;
    }

    .text h1 {
        font-size: 48px;
    }
}
